* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

.screen {
	height: auto;
	min-height: 100vh;
	display: grid;
	grid-template: 100px 1fr / 350px 1fr;
}
