@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: 'Audiowide';
  src: url(./fonts/Audiowide-Regular.ttf);
}

.main {
	grid-area: 2 / 2 / 3 / 3;
	background-color: #E0E2DB;
  padding: 15px 30px;
}

/* title section */

.title-section {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.title-section .name {
  grid-area: 1 / 1 / 2 / 3;
  font-family: 'Audiowide';
  color: #2F3734 ;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.title-section .content {
  padding: 8px 12px;
  width: 250px;
  font-family: 'Inter';
  font-size: 1.75rem;
  color: #2F3734;
  font-weight: 700;
  margin: 0;
  align-self: center;
}

.title-section button.edit {
  grid-area: 1 / 2 / 3 / 3;
  padding: 5px 12px;
  font-family: 'Inter';
  font-size: 1.75rem;
  font-weight: 700;
  color: #E0E2DB;
  align-self: center;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
  justify-self: start;
}
.title-section button.edit:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.title-section button.edit:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

.title-section input {
  width: 250px;
  align-self: center;
  font-family: 'Inter';
  font-size: 1.75rem;
  font-weight: 700;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}

/* ----------------------------------------- personal info section */

.pers-info-name {
  padding: 20px 0 10px 0;
  font-family: 'Audiowide';
  color: #2F3734 ;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.full-name, .living-address, .phone-number, .email, .date-of-birth {
  display: grid;
  grid-template-columns: 800px 1fr;
  padding-left: 12px;
}

.full-name .name, .living-address .name, .phone-number .name, .email .name, 
.date-of-birth .name  {
  padding-top: 15px;
  grid-area: 1 / 1 / 2 / 3;
  font-family: 'Inter';
  color: #2F3734 ;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.full-name .content, .living-address .content, .phone-number .content, 
.phone-number .content, .email .content, .date-of-birth .content {
  padding: 8px 12px;
  width: 760px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #2F3734;
  margin: 0;
  align-self: center;
}

.full-name .edit, .living-address .edit, .phone-number .edit, .email .edit, 
.date-of-birth .edit {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  align-self: center;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
  justify-self: start;
}
.full-name button.edit:hover, .living-address button.edit:hover, 
.phone-number button.edit:hover, .email button.edit:hover, 
.date-of-birth button.edit:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.full-name button.edit:active, .living-address button.edit:active, 
.phone-number button.edit:active, .email button.edit:active, 
.date-of-birth button.edit:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

.full-name input, .living-address input, .phone-number input, .email input, 
.date-of-birth input {
  width: 760px;
  align-self: center;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}

/* -------------------------------------------------- edu section */

.education-section {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.education-section .name {
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px 0 10px 0;
  font-family: 'Audiowide';
  color: #2F3734 ;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.education-section button.add-degree {
  grid-area: 1 / 2 / 2 / 3;
  padding: 5px 12px;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: 700;
  color: #E0E2DB;
  align-self: center;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
  justify-self: start;
}
.education-section button.add-degree:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.education-section button.add-degree:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* popup */

.degree-popup {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(4, 214px) ;
  gap: 3px;
}
.degree-popup .add-button {
  grid-area: 2 / 3 / 3 / 4;
}
.degree-popup .close-button {
  grid-area: 2 / 4 / 3 / 5;
}
.degree-popup #fullName, .degree-popup #institution,
.degree-popup #startYear, .degree-popup #endYear {
  align-self: center;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}
.degree-popup #fullName, .degree-popup #institution {
  width: 366;
}
.degree-popup #fullName {
  grid-area: 1 / 1 / 2 / 3;
}
.degree-popup #institution {
  grid-area: 1 / 3 / 2 / 5;
}
.degree-popup #startYear, .degree-popup #endYear {
  width: 183px;
}
.degree-popup .add-button, .degree-popup .close-button {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.degree-popup .add-button:hover, .degree-popup .close-button:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.degree-popup .add-button:active, .degree-popup .close-button:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* degree list */

.education-section .degrees {
  grid-column: 1 / 3;
}

.education-section .degree {
  padding-top: 15px;
  width: 864px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.education-section .degree .text {
  width: 688px;
  padding: 8px 12px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #2F3734;
  margin: 0;
  align-self: center;
}
.education-section .degree button {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.education-section .degree button:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.education-section .degree button:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

.degree .buttons {
  display: flex;
  gap: 3px;
}

/* degree edit box */

.degree .edit-box {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(4, 214px) ;
  gap: 3px;
}
.degree .edit-box button.edit {
  grid-area: 2 / 3 / 3 / 5;
}
.degree .edit-box #fullName, .degree .edit-box #institution,
.degree .edit-box #startYear, .degree .edit-box #endYear {
  align-self: center;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}
.degree .edit-box #fullName, .degree .edit-box #institution {
  width: 366;
}
.degree .edit-box #fullName {
  grid-area: 1 / 1 / 2 / 3;
}
.degree .edit-box #institution {
  grid-area: 1 / 3 / 2 / 5;
}
.degree .edit-box #startYear, .degree .edit-box #endYear {
  width: 183px;
}
.degree .edit-box button.edit {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.degree .edit-box button.edit:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.degree .edit-box button.edit:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* ------------------------------------------- work section */

.work-exp-section {
  display: grid;
  grid-template-columns: 420px 1fr;
}

.work-exp-section .name {
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px 0 10px 0;
  font-family: 'Audiowide';
  color: #2F3734 ;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.work-exp-section button.add-work-exp {
  grid-area: 1 / 2 / 2 / 3;
  padding: 5px 12px;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: 700;
  color: #E0E2DB;
  align-self: center;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
  justify-self: start;
}
.work-exp-section button.add-work-exp:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.work-exp-section button.add-work-exp:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* popup */

.add-experience {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(4, 214px) ;
  gap: 3px;
}
.add-experience .add-button {
  grid-area: 2 / 3 / 3 / 4;
}
.add-experience .close-button {
  grid-area: 2 / 4 / 3 / 5;
}
.add-experience #company, .add-experience #position,
.add-experience #startYear, .add-experience #endYear {
  align-self: center;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}
.add-experience #company, .add-experience #position {
  width: 366;
}
.add-experience #company {
  grid-area: 1 / 1 / 2 / 3;
}
.add-experience #position {
  grid-area: 1 / 3 / 2 / 5;
}
.add-experience #startYear, .add-experience #endYear {
  width: 183px;
}
.add-experience .add-button, .add-experience .close-button {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.add-experience .add-button:hover, .add-experience .close-button:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.add-experience .add-button:active, .add-experience .close-button:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* work exp list */

.work-exp-section .experiences {
  grid-column: 1 / 3;
}

.work-exp-section .experience {
  padding-top: 15px;
  width: 864px;
}

.work-exp-section .experience .position-box {
  display: grid;
  grid-template-columns: 712px 1fr;
  align-items: center;
}

.work-exp-section .experience .position {
  width: 688px;
  padding: 8px 12px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #2F3734;
  margin: 0;
  align-self: center;
}
.work-exp-section .experience button {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.work-exp-section .experience button:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.work-exp-section .experience button:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

.experience .buttons {
  display: flex;
  gap: 3px;
}

.experience .add-detail {
  justify-self: center;
}

/* work edit box */

.experience .edit-box {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(4, 214px) ;
  gap: 3px;
}
.experience .edit-box button.edit {
  grid-area: 2 / 3 / 3 / 5;
}

.experience .edit-box #company, .experience .edit-box #position,
.experience .edit-box #startYear, .experience .edit-box #endYear {
  align-self: center;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}
.experience .edit-box #company, .experience .edit-box #position {
  width: 366;
}
.experience .edit-box #company {
  grid-area: 1 / 1 / 2 / 3;
}
.experience .edit-box #position {
  grid-area: 1 / 3 / 2 / 5;
}
.experience .edit-box #startYear, .experience .edit-box #endYear {
  width: 183px;
}
.experience .edit-box button.edit {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.experience .edit-box button.edit:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.experience .edit-box button.edit:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* work details list */

.experience button.add-detail {
  margin: 8px 37px;
}

.experience .pop-up {
  margin: 8px 25px;
  display: flex;
  gap: 3px;
}
.experience .pop-up #detail {
  width: 660px;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}

.details-list .detail {
  padding: 0px 25px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.details-list .detail .text {
  margin: 0;
  width: 660px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #2F3734;
  padding: 8px 12px;
}
.details-list .detail input {
  margin: 0;
  width: 660px;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}

/* skill & projects section ------------------------------------ */

.skill-section, .project-section {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.skill-section .name, .project-section .name {
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px 0 10px 0;
  font-family: 'Audiowide';
  color: #2F3734 ;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.skill-section button.add-skill, .project-section button.add-project {
  grid-area: 1 / 2 / 2 / 3;
  padding: 5px 12px;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: 700;
  color: #E0E2DB;
  align-self: center;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
  justify-self: start;
}
.skill-section button.add-skill:hover, 
.project-section button.add-project:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.skill-section button.add-skill:active, 
.project-section button.add-project:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* popup */

.skill-section .pop-up, .project-section .pop-up {
  grid-column: 1 / 3;
  margin: 8px 0 8px 12px;
  display: flex;
  gap: 3px;
}
.skill-section .pop-up #skill, .project-section .pop-up #project {
  width: 703px;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}

.skill-section .pop-up .create-skill, .skill-section .pop-up .hide-popup,
.project-section .pop-up .create-project, .project-section .pop-up .hide-popup {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.skill-section .pop-up .create-skill:hover, 
.skill-section .pop-up .hide-popup:hover,
.project-section .pop-up .create-project:hover, 
.project-section .pop-up .hide-popup:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.skill-section .pop-up .create-skill:active, 
.skill-section .pop-up .hide-popup:active,
.project-section .pop-up .create-project:active, 
.project-section .pop-up .hide-popup:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* skills list */

.skill-section .skills-list, .project-section .projects-list {
  grid-column: 1 / 3;
  margin: 8px 0;
}

.skill-section .skills-list .skill, .project-section .projects-list .project {
  display: flex;
  gap: 3px;
  align-items: center;
}

.skill-section .skills-list .skill .text, 
.project-section .projects-list .project .text {
  margin: 0;
  width: 685px;
  font-family: 'Inter';
  color: #2F3734;
  font-size: 1.25rem;
  padding: 8px 12px;
}
.skill-section .skills-list .skill input, 
.project-section .projects-list .project input {
  margin: 0;
  width: 685px;
  font-family: 'Inter';
  font-size: 1.25rem;
  border: none;
  background-color: white;
  border-radius: 3px;
  padding: 8px 12px;
}

.skill-section .skills-list .skill button, 
.project-section .projects-list .project button {
  padding: 2px 6px;
  font-family: 'Inter';
  font-size: 1.25rem;
  color: #E0E2DB;
  background-color: #2F3734;
  border: 3px solid transparent;
  border-radius: 3px;
}
.skill-section .skills-list .skill button:hover, 
.project-section .projects-list .project button:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.skill-section .skills-list .skill button:active, 
.project-section .projects-list .project button:active {
  background-color: #2F3734;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

.actions-buttons {
  border-top: 3px solid #2F3734;
  padding: 12px 24px;
  display: flex;
  gap: 6px;
  justify-content: end;
}
.actions-buttons button {
  padding: 5px 12px;
  font-family: 'Inter';
  font-size: 1.75rem;
  font-weight: 700;
  color: #E0E2DB;
  background-color: #C0354A;
  border: 3px solid transparent;
  border-radius: 3px;
}
.actions-buttons button:hover {
  background-color: #E0E2DB;
  color: #2F3734;
  border: 3px solid #2F3734;
  transition: 300ms;
}
.actions-buttons button:active {
  background-color: #C0354A;
  color: #E0E2DB;
  border: 3px solid transparent;
  transition: 150ms;
}

/* ##C0354A cardinal
#2F3734 onyx
#E0E2DB alabaster */